In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (12.0, 9.0)

In [6]:
def readfile(filename):
    data = pd.read_csv(filename)
    X = data.iloc[:,-1].values.reshape(-1,1)
    Y = data.iloc[:, 1].values.reshape(-1,1)
    return X, Y

In [35]:
# Building the model with least square root method
def buildModel(X,Y):
    X_mean = np.mean(X)
    Y_mean = np.mean(Y)
    num = 0
    den = 0
    for i in range(len(X)):
        num += (X[i] - X_mean)*(Y[i] - Y_mean)
        den += (X[i] - X_mean)**2
    m = num / den
    c = Y_mean - m*X_mean
    return m,c

In [17]:
# Making predictions
def bestFitLine(X,m,c):
    Y_pred = m*X + c
    return Y_pred

In [18]:
#Plot graph
def plotGraph(X,Y,Y_pred):
    plt.scatter(X, Y) # actual
    plt.plot([min(X), max(X)], [min(Y_pred), max(Y_pred)], color='red') # predicted
    plt.show()
    return

In [19]:
def predict(x, m,c):
    y_pred = c + m*x
    return y_pred

In [20]:
# load the dataset
X, Y = readfile('salary_data.csv')

# build the model
m,c = buildModel(X,Y)

Y_pred=bestFitLine(X,m,c)
    
df_result = pd.DataFrame({'Actual': Y.flatten(), 'Predicted': Y_pred.flatten()})
df_result

[1.] [0.]
[1.] [0.]

    Actual  Predicted
0    39343    39343.0
1    46205    46205.0
2    37731    37731.0
3    43525    43525.0
4    39891    39891.0
5    56642    56642.0
6    60150    60150.0
7    54445    54445.0
8    64445    64445.0
9    57189    57189.0
10   63218    63218.0
11   55794    55794.0
12   56957    56957.0
13   57081    57081.0
14   61111    61111.0
15   67938    67938.0
16   66029    66029.0
17   83088    83088.0
18   81363    81363.0
19   93940    93940.0
20   91738    91738.0
21   98273    98273.0
22  101302   101302.0
23  113812   113812.0
24  109431   109431.0
25  105582   105582.0
26  116969   116969.0
27  112635   112635.0
28  122391   122391.0
29  121872   121872.0